.btn-green
{
    background-color: var(--green);
    color: white;
}

input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 6px;
    /* background-color only for content */
    background-clip: content-box;
    border: 2px solid #bbbbbb;
    background-color: white;
    border-radius: 50%;
}
  
  /* appearance for checked radiobutton */
input[type="radio"]:checked {
    background-color: var(--green);
}

input[type="radio"]:focus {
    background-color: var(--green);
    outline-style: none;
}

.bg-green
{
  background-color: var(--green);
}

.table-border
{
  border: solid #DEE2E6 1px;
  border-radius: 10px;
}

.user-input
{
  min-height: 100vh;
}

.requests-finished
{
  height: 100%;
  min-height: 60vh;
  width: 100%;
}